<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>

<body>
    <form method="post" action="/posts">
        <p>
            <input type="text" placeholder="enter user name" name="username">
        </p>
        <p>
            <textarea placeholder="write your Post" name="content"></textarea>
        </p>
        <button>Submit Post</button>
    </form>
</body>

</html>